*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}
body{
    width: 100%;
}
.header{
    height: 20vh;
    width: 100%;
    background-color: rgb(226, 34, 213);
}
.body1,.body2 {
    display: inline-block;
    height: 64vh;
    width: 49.5%;
    margin:15px 2.5px 15px 2.5px;
    background-color: rgb(212, 126, 238);
}
.body2{
    background-color: rgb(255, 3, 200);
}
.footer{
    height: 10vh;
    width: 100%;
    background-color: rgb(172, 20, 165);
}
.main{
    height: 60vh;
    height: 60%;
    width: 100%;
}
.header .footer .main{
    padding: 0 10vw;
}