*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
    color: white;
}

body{
   background: #e31d1a;
}
.dis-inline
{
    display: inline-block;
    padding: 0 10px 0 10px;
    height: 35.5vh;
    background-color: rgb(162, 16, 16);
    width: calc((100% - 15px - 15px)/3);
    font-size: 0;
}
.start{
    
    word-wrap: normal;
    margin: 57px 20px 211px 64px;
}
.cardView{
    width:100%;
    font-size: 0;
}
#start-content{
    vertical-align: top;
    display: inline-block;
    width: 50vw;
    margin-right: 185px;
}
.centerCard{
    margin: 0 15px;
}
.card-Heading{
    font-size: xx-large;
    margin-bottom: 10px;
}
.card-Content{
    font-size: 12px;
}